<h1>New User/Sign In</h1>

<button
  type="submit" 
  formaction="<%= new_user_url %>" 
  formmethod="get">
  Sign Up
</button>
<button
  type="submit"
  formaction="<%= new_session_url %>" 
  formmethod="get">
  Sign In
</button>